.centerText {
    text-align: center;
}

.card-img-top{
    padding: 15px;
}

.card{
    border-color: white;
    border-radius: 18px;
    -webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.3);
}

.card:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.36);
    transition: box-shadow .3s ;
}

.card-title{
    margin-bottom: 0px;
}

.varianttext{
    margin-top: -0.15rem;
}

.card-text{
    margin-top: 0.3rem;
}

.addbutton{
    width: 100%;
    background-color: #3F945A;
    margin-top: 2rem;
    border-radius: 18px;
    color: white;
    font-weight: bold;
    color: rgb(63, 148, 90);
    background-color: white;
    border-color: #ffb524;
}

.addbutton:hover{
    background-color: #ffb524;
    color: white;
}


.productDetailButton {
    overflow: hidden;
  }

.productDetailButton img {
    transition: transform .5s ease;
  }

.productDetailButton:hover img {
    transform: scale(1.25);
  }

.productDetailButton:hover{
    text-decoration: none;
    color: black;
}

.productDetailButton {
    overflow: hidden;
  }

.productDetailButton img {
    transition: transform .5s ease;
  }

.productDetailButton:hover img {
    transform: scale(1.25);
  }


  .input-group
{
    /* background-color: aqua; */
    /* display: flex; */
    /* align-items: center;  */
    /* justify-content: center;
    flex-direction: row;
    height: 6vh; */
}
.search_container{
    /* width: 53%; */
    /* background-color: aquamarine; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-items: center;
    border: 1.5px black solid;
    border-radius: 28px; */
}
#myInput{
    /* width: 65%;
    height: 100%;
    border: none;
    font-size: 25px; */
}
input:focus{
    /* outline: none;
    box-shadow: none; */
}
i{
  /* margin-right: 2vw;
  font-size: 30px; */
}
.search_button{
    /* background-color: green;
    color: aliceblue;
    width: 15%;
    height: 85%;
    margin-left: 4vw;
    border-radius: 22px;
    font-size: 25px; */
}
.result_box{
    /* width: 100vw;
    background-color: bisque;
    height: 20vh;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0; */
}
#dropdown_m0{
    /* width: 88%; */

}
.dropdown-content{
    /* width: 100%;
    height: 100%;
    background-color: blueviolet;
    position: absolute;
    z-index: 2; */
    /* background-color: aliceblue; */
    /* position: absolute; */
    /* z-index: 2; */
}
.percontent{
    /* display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: aquamarine;
    font-size: 24px;
    height: 5vh;
    margin-bottom: 1vh;
    cursor: pointer; */
}
.percontent:hover{
    background-color: rgb(158, 222, 158);
}
.ml-23{
    /* padding-left: 2vw; */

}
#magnifying2{
/* padding-left: 1vw; */
}

.result_field{

    /* background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 24px 24px;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding-top: 1vh;
    overflow: hidden; */
}
.dropdown-content{
    /* display: none; */
}
.result_box{
    /* padding: 0px 23vw; */
}
.result_box ul{
    /* height: 28.5vh;
    overflow: auto ; */

}

.result_box ul li{
    /* list-style : none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid #d6d4d4; */

}
.result_box ul li:hover{
    /* background-color: #d5f6cf; */
}

.buttonFilter{
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
   /* margin: auto; */
}

.filterbox{
    flex-basis: 25%;
}

.categorylist{
    margin-top: 20px;
    width: 8vw;
}

.categorylist label{
    display: block;
    padding: 2px 0px;
}

.offcanvas-header h1{
    font-size: 25px;
}

.filterbox h2{
    font-size: 20px;
}

.wrapper{
    width: 350px;
    background-color: transparent;
    padding: 1.042vw 1.302vw 2.083vw;
}

.header h2{
    margin-top: 3vh;
    font-size: 20px;
}

.price-input{
    width: 100%;
    display: flex;
    margin: 1.563vw 0 1.823vw;
}

.price-input .field{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 17px;
    text-align: center;
    margin-left: 0.625vw;
    border-radius: 5px;
    border: 1px solid #999;
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{

    -webkit-appearance: none;
}

.price-input .separator{
    width: 6.771vw;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.slider{
    height: 5px;
    border-radius: 5px;
    background: #ddd;
    position: relative;
}

.slider .progress{
    height: 5px;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: green;
}

.range-input{
    position: relative;
}

.range-input input{
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background:  none;
    pointer-events: none;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: green;
}



input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: green;
}


.plesMines{
    margin-bottom: 0px;
}
