.centerText {
    text-align: center;
}

.card-img-top{
    padding: 15px;
}

.card{
    border-color: white;
    border-radius: 18px;
    -webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.3);
}

.card:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.36);
    transition: box-shadow .3s ;
}

.card-title{
    margin-bottom: 0px;
}

.varianttext{
    margin-top: -0.15rem;
}

.card-text{
    margin-top: 0.3rem;
}

.addbutton{
    width: 100%;
    background-color: #3F945A;
    margin-top: 2rem;
    border-radius: 18px;
    color: white;
    font-weight: bold;
    color: rgb(63, 148, 90);
    background-color: white;
    border-color: #ffb524;
}

.addbutton:hover{
    background-color: #ffb524;
    color: white;
}


.productDetailButton {
    overflow: hidden;
  }

.productDetailButton img {
    transition: transform .5s ease;
  }

.productDetailButton:hover img {
    transform: scale(1.25);
  }

.productDetailButton:hover{
    text-decoration: none;
    color: black;
}

.productDetailButton {
    overflow: hidden;
  }

.productDetailButton img {
    transition: transform .5s ease;
  }

.productDetailButton:hover img {
    transform: scale(1.25);
  }

.result_box{
    padding: 0px 23vw;
}
.result_box ul{
    /* padding: 0px 4vw; */
    /* max-lines: 3; */
    height: 28.5vh;
    overflow: auto ;

}

.result_box ul li{
    list-style : none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid #d6d4d4;


}
.result_box ul li:hover{
    background-color: #d5f6cf;
}
