.centerText {
    text-align: center;
}

.card-img-top{
    padding: 15px;
}

.card{
    border-color: white;
    border-radius: 18px;
    -webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.3);
}

.card-title{
    margin-bottom: 0px;
}

.varianttext{
    margin-top: -0.15rem;
}

.card-text{
    margin-top: 0.3rem;
}

.addbutton{
    width: 100%;
    background-color: #3F945A;
    margin-top: 2rem;
    border-radius: 18px;
    color: white;
    font-weight: bold;
}

.addbutton:hover{
    background-color: #2A633C;
    color: white;
}

.productDetailButton:hover{
    text-decoration: none;
    color: black;
}


.main{
    width: 68.75vw;
    margin: auto;

}

/*
.filters{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #fff;
    width: 100vw;
    margin: 0 auto;
    min-height: 50vw;
    display: flex;
}

.sidebar{
    flex: 1;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.3);
}

.sidebar input[type="text"]{
    padding: 0.25vw 0.25vw;
    outline: none;
    width: 100%;
    margin-bottom: 0.75vw;
}

.sidebar h3{
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar ul{
    list-style-type: none;
}

.sidebar ul li{
    margin: 5px 0;
    padding-left: 5px;
    cursor: pointer;
}

.sidebarul li :hover{
    background-color: #dcdde1;
}

.content{
    flex: 4;

} */
